* {
  margin: 0;
  padding: 0;
}
:root {
  /*Fontes*/
  --font-primary: "Courier";
  --font-secundary: "Arial";
  /*Cores*/
  --color-01: #504B3A;
  --color-02: #646F58;
  --color-03: #7D8570;
  --color-04: #14130F;
  --color-05: #39393a;
  --color-06: #edebe8;
}
/*Corpo da Página*/
#corpo {
  font-size: 1rem;
  background-color: var(--color-06);
}
/*Cabeçalho*/
#cabecalho{
    font-family: var(--font-primary);
    text-align: center;
}
#cabecalho-titulo{
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-06);
    background-color: var(--color-01);
}
#cabecalho-logo{
    background-image: url(../img/logo.png);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/*Main*/
#conteudo-principal{
    text-align: center;
}
/*Imagem*/
#principal-imagem{
    background-image: url(img/arcana_logo.png);
    height: 300px;
    width: 200px;
    border-radius: 20px;
}
/*Navegação*/
#navegacao {
  margin-top: 10vh;
  /*flexbox*/
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.nav-item {
  /*Estilo de Texto*/
  font-family: var(--font-secundary);
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-06);
  /*Estilo de Fundo*/
  text-align: center;
  background-color: var(--color-02);
  padding: 10px 0;
  /*Estilo da Borda*/
  border: solid 2px var(--color-02);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  /*flexbox*/
  display: block;
  width: 100%;
}
.nav-item:hover {
  background-color: var(--color-03);
}
/*Texto*/
.container-texto {
  margin: 0 5%;
}
.container-paragrafo > p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}
.texto-titulo {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.container-texto-destaque{
    margin-bottom: 1rem;
}
.texto-destaque{
    font-size: 1.1rem;
}
.texto-titulo,
.texto-subtitulo,
.texto-destaque,
.info-título {
    font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-01);
}
/*Botão Voltar*/
#botao-voltar {
  font-family: var(--font-secundary);
  font-size: 0.6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-06);
  background-color: var(--color-01);
  border-radius: 20px;
  padding: 10px;
}
#botao-voltar:hover {
  background-color: var(--color-03);
}
/*Rodapé*/
#rodape {
  font-family: var(--font-secundary);
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  color: var(--color-06);
  background-color: var(--color-05);
  padding: 10vh 0;
}
/*Rodapé Links*/
#rodape-desenvolvedor-link,
#rodape-hospedagem-link {
  text-decoration: none;
  color: var(--color-06);
}
/*Rodapé Hover*/
#rodape-desenvolvedor-link:hover,
#rodape-hospedagem-link:hover {
  text-decoration: underline;
}
/*Espaçamento*/
#cabecalho-titulo{
    padding: 10vh 0;
}
#cabecalho-logo,
#principal-imagem,
#container-botao-voltar,
#rodape {
  margin-top: 10vh;
}
#navegacao {
  margin: 10vh 20%;
}
.container-texto {
  margin: 10vh 15%;
}
