/*Rodapé*/
.rodape {
    font-family: var(--fonte-02);
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    color: var(--cor-07);
    background-color: var(--cor-06);
    padding: 10vh 0;
}
/*Rodapé Links*/
.rodape-desenvolvedor-link,
.rodape-hospedagem-link{
    text-decoration: none;
    color: var(--cor-07);
}
/*Rodapé Hover*/
.rodape-desenvolvedor-link:hover,
.rodape-hospedagem-link:hover{
    text-decoration: underline;
}