@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('../style/basico.css');
@import url('../style/cabecalho.css');
@import url('../style/rodape.css');
@import url('../style/responsivo.css');
:root {
    /*Cores*/
    --cor-01: #382307;
    --cor-02: #806237;
    --cor-03: #C2BBB2;
    --cor-05: #000000;
    --cor-06: #909090;
    --cor-07: #FFFFFF;
    /*Fontes*/
    --fonte-01: "Afacad Flux", sans-serif;
    --fonte-02: 'Arial';
}
/*Cabeçalho*/
.logo{
    background-image: url(img/arcana_logo.png);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
/*Texto*/
.container-texto{
    text-align: center;
}
/*Depoimentos*/
.depoimento-container{
    text-align: center;
}
.depoimento-imagem{
    background-image: url(img/arcana_logo.png);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.linha{
  color: var(--cor-07);
  background-color: var(--cor-07);
  border: none;
  border-top: .25rem dotted var(--cor-01); /* Linha com pontos */
}
/*Links*/
.link-secundario{
    text-decoration: none;
    color: var(--cor-05);
}
.link-secundario:hover{
    text-decoration: underline;
}
/*Espaçamento*/
.depoimento-container{
    margin: 10vh 0;
}
.linha{
    margin: 10vh 10%;
}