@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    /*Cores*/
    --cor-01: #382307;
    --cor-02: #806237;
    --cor-03: #D3A96E; 
    --cor-05: #000000;
    --cor-06: #909090;
    --cor-07: #FFFFFF;
    /*Fontes*/
    --fonte-01: "Afacad Flux", sans-serif;
    --fonte-02: 'Arial';
}
/*Corpo da Página*/
#corpo{
    font-size: 1rem;
    background-color: var(--cor-07);
}
/*Cabeçalho*/
.cabecalho{
    font-family: var(--fonte-01);
    text-align: center;
}
.cabecalho-titulo{
    font-weight: bold;
    font-size: 3rem;
    color: var(--cor-02);
}
.cabecalho-subtitulo{
    font-size: 1.3rem;
    background-color: var(--cor-01);
    color: var(--cor-07);
    padding: 5px;
}
.container-logo{
    text-align: center;
}
.logo{
    background-image: url(img/arcana_logo.png);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.conteudo-principal{
    font-family: var(--fonte-01);
}
/*Texto*/
.container-texto{
    text-align: center;
}
.texto-titulo{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-02);
    line-height: 2.5rem;
}
.container-paragrafo{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 20px 0;
}
/*Links (apenas o Container)*/
.container-link{
    text-align: center;
    background-color: rgb(128, 98, 55, 0.25);
    border: solid 2px var(--cor-02);
    border-radius: 10px;
}
.container-link,
.link-principal{
    padding: 10px 0; /*top e bottom precisam estar iguais aos outros containers*/
}
.destaque-paragrafo{ /*NÃO ESTÁ NA PÁAGINA INICIAL: CONFERIR COM AS OUTROAS PÁGINAS*/
    color: var(--cor-02);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
}
.texto-destaque-menor{
    text-decoration: underline;
}
/*Botão Voltar*/
.container-botao-voltar{
    text-align: center;
}
/*Rodapé*/
.rodape {
    background-color: var(--cor-06);
    color: var(--cor-07);
    font-family: var(--fonte-02);
    text-align: center;
    font-size: 0.8rem;
    padding: 10vh 0;
}
/*Imagem*/
.depoimento{
    text-align: center;
}
.imagem{
    background-image: url(img/arcana_logo.png);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.linha{
  color: #fff;
  background-color: #fff;
  border: none;
  border-top: .25rem dotted var(--cor-01); /* Linha com pontos */
}
/*Links*/
.link-principal{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-02);
    text-transform: uppercase;
}
.botao-voltar{ 
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-07);
    background-color: var(--cor-01);
    border: solid 2px var(--cor-01);
    border-radius: 50%;
    padding: 10px;
}
.rodape-desenvolvedor-link,
.rodape-hospedagem-link {
    text-decoration: none;
    color: var(--cor-07);
}
.link-secundario{
    text-decoration: none;
    color: var(--cor-05);
}
/*Hovers*/
.container-link:hover{
    background-color: var(--cor-02)
}
.container-link:hover .link-principal{
    color: var(--cor-07);
}
.link-secundario:hover{
    text-decoration: underline;
}
.botao-voltar:hover{
background-color: rgb(128, 98, 55, 0.25);
    color: var(--cor-01);
}
.rodape-desenvolvedor-link:hover,
.rodape-hospedagem-link:hover{
    color: var(--cor-07);
    text-decoration: underline;
}
/*Magin Top&Bottom*/
.cabecalho,
.container-logo,
.conteudo-principal,
.container-lista,
.depoimento,
.container-botao-voltar{
    margin: 10vh 0;
}
.container-texto,
.container-link,
.linha{
    margin: 10vh 10%;
}
@media (min-width: 768px) {
    .container-texto{
        margin: 10vh 30%;
    }
    .container-link{
        margin: 10vh 40%;
    }
}
/*Responsividade

    .lista-item {
        margin: 1% 30%;
    }
    .container-arcano{
        margin: 0 25%;
    }
*/

