@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('pag/tarot/simbolos/simbolos.css');
@import url('../style/basico.css');
@import url('../style/cabecalho.css');
@import url('../style/rodape.css');
@import url('../style/responsivo.css');
#logo-home{
        background-image: url('img/home.png');
        }
#ancestral{
    background-image: url('img/ancestral.png');
}
#logo-inverno{
    background-image: url('img/inverno.png');
}
/*Texto*/
.container-paragrafo>p{
    text-align: justify;
    text-indent: 30px;
}
/*Imagens*/
.imagem{
    height: 340px;
    width: 200px;
    border-radius: 15px;
}
.container-imagem{
    margin: 0 20px;
}
.ref-imagem{
    margin: 20px 0;
    width: 100%;
}