@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('pag/tarot/simbolos/simbolos.css');
@import url('../style/basico.css');
@import url('../style/cabecalho.css');
@import url('../style/rodape.css');
@import url('../style/responsivo.css');
:root {
    /*Cores*/
    --cor-01: #382307;
    --cor-02: #806237;
    --cor-03: #D3A96E; 
    --cor-05: #000000;
    --cor-06: #909090;
    --cor-07: #FFFFFF;
    /*Fontes*/
    --fonte-01: "Afacad Flux", sans-serif;
    --fonte-02: 'Arial';
}
/*Texto*/
.container-paragrafo>p{
    text-align: justify;
    text-indent: 30px;
}
/*Imagens*/
.imagem{
    height: 340px;
    width: 200px;
    border-radius: 15px;
}