@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('pag/tarot/simbolos/simbolos.css');
@import url('../style/basico.css');
@import url('../style/cabecalho.css');
@import url('../style/rodape.css');
@import url('../style/responsivo.css');
:root {
    /*Cores*/
    --cor-01: #382307; /**/
    --cor-02: #b07e09; /*#806237;*/
    --cor-03: #E2CFA3; 
    --cor-05: #000000;
    --cor-06: #909090;
    --cor-07: #FFFFFF;
    /*Fontes*/
    --fonte-01: "Afacad Flux", sans-serif;
    --fonte-02: 'Arial';
}
/*Cabeçalho*/
.logo{
    background-image: url(img/home.png);
}
/*Texto*/
.container-paragrafo>p{
    text-indent: 30px;
}
.container-paragrafo>p,
.lista>li,
.lista-numerada>li{
    text-align: justify;
}
/*Imagens*/
.imagem{
    height: 340px;
    width: 200px;
    border: 2px solid var(--cor-02);
    border-radius: 20px;
}
/*Lista*/
.lista,
.lista-numerada{
    list-style-position: inside;
    padding-left: 20px; /* Cria espaço para o marcador não vazar da div */
}
.lista-numerada{
    list-style-type: decimal;
}
.lista>li,
.lista-numerada>li{
    list-style-position: outside; /* Garante que o marcador fique for*/
}
.lista>li::marker,
.lista-numerada>li::marker{
    color: var(--cor-02);
}