@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('pag/tarot/simbolos/simbolos.css');
* {
    margin: 0;
    padding: 0;
}
:root {
    /*Cores*/
    --cor-01: #382307; /**/
    --cor-02: #b07e09; /*#806237;*/
    --cor-03: #E2CFA3; 
    --cor-05: #000000;
    --cor-06: #909090;
    --cor-07: #FFFFFF;
    /*Fontes*/
    --fonte-01: "Afacad Flux", sans-serif;
    --fonte-02: 'Arial';
}
/*Corpo da Página*/
#corpo{
    background-color: var(--cor-07);
}
/*Cabeçalho*/
.cabecalho{
    font-family: var(--fonte-01);
    text-align: center;
    margin-top: 10vh;
}
.cabecalho-titulo{
    font-weight: bold;
    font-size: 3rem;
    color: var(--cor-02);
}
.cabecalho-subtitulo{
    font-size: 1.3rem;
    background-color: var(--cor-01);
    color: var(--cor-07);
    padding: 5px;
}
.cabecalho-imagem{
    text-align: center;            /* Ocupa a largura total */
    margin-top: 10vh;
}
.imagem-home{
    background-image: url(img/home.png);
    height: 340px;
    width: 200px;
    border-radius: 20px;
}
/*Main*/
.conteudo-principal{
    margin: 10vh;
}
/*Listas de Páginas*/
.container-lista{
    font-size: 1rem;
    margin-top: 10vh;
}
.lista-item{
    font-family: var(--fonte-01);
    text-align: center;
    background-color: var(--cor-03);
    border: solid 2px var(--cor-02);
    border-radius: 10px;
    padding: 10px;
    margin: 3% 10%;
}
/*Arcanos*/
.container-arcano,
ul{
    margin: 0 5%;
}
.arcano-titulo{
    text-align: center;
    font-family: var(--fonte-01);
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--cor-02);
}
.arcano-subtitulo{
    text-align: center;
    text-indent: 0;
}
.arcano-subtitulo,
.arcano-texto>p{
    font-size: 1rem;
    margin: 1rem 0;
}
.arcano-texto>p{
    text-indent: 30px;
}
.arcano-texto>p,
li{
    text-align: justify;
    font-family: var(--fonte-01);
    font-size: 1rem;
    line-height: 1.7rem;
}
.texto-destaque{
    font-family: var(--fonte-01);
    color: var(--cor-02);
    font-weight: 900;
    text-transform: uppercase;
}
.texto-destaque-menor{
    font-weight: bold;
}
/*Botão Voltar*/
.container-botao-voltar{
    text-align: center;
    margin: 10vh 0;
}
#home{
    margin: 10vh 0;
}
/*Rodapé*/
.rodape {
    background-color: var(--cor-06);
    color: var(--cor-07);
    font-family: var(--fonte-02);
    text-align: center;
    font-size: 0.8rem;
    padding: 10vh 0;
}
/*Imagens*/
.container-imagem{
    text-align: center;            /* Ocupa a largura total */
    margin: 10vh 0;
}
.imagem{
    height: 340px;
    width: 200px;
    border-radius: 20px;
}
/*Lista*/
li{
    list-style-position: outside; /* Garante que o marcador fique fora */
}
li::marker{
    color: var(--cor-02);
}
/*Links*/
.item-link{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-02);
    text-transform: uppercase;
}
.botao-voltar{ 
    font-family: var(--fonte-01);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-07);
    background-color: var(--cor-01);
    padding: 10px;
    border: solid 2px var(--cor-01);
    border-radius: 50%;
}
.rodape-desenvolvedor-link,
.rodape-hospedagem-link {
    color: var(--cor-07);
    text-decoration: none;
}
/*Hovers*/
.lista-item:hover{
    background-color: var(--cor-02)
}
.lista-item:hover .item-link{
    color: var(--cor-07);
}
.botao-voltar:hover{
    background-color: var(--cor-02);
    color: var(--cor-01);
}
.rodape-desenvolvedor-link:hover,
.rodape-hospedagem-link:hover{
    color: var(--cor-07);
    text-decoration: underline;
}

/*Responsividade*/

@media (min-width: 768px) {
    .lista-item {
        margin: 1% 30%;
    }
    .container-arcano{
        margin: 0 25%;
    }
}